<div>
        <% @students.each do |student| %>
                <div><%=link_to student.to_s, student_path(student.id)%></div>
                <%if student.active == false%>
                        <div>This student is currently inactive.</div>
                <%else%>
                        <div>This student is currently active.</div>
                <%end%>
        <% end %>
</div>